<!DOCTYPE html>
<html lang="en">

<head>
    <title>Recommendation System using Python</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
  <!--<script src="../static/js/bootstrap.min.js"></script>-->


</head>

<body>



        <div class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <h5 class="my-0 mr-md-auto font-weight-normal brand"><a href="/"> Recommendation System</a></h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-white" href="/userbased">User-Based</a>
                <a class="p-2 text-white" href="/itembased">Item-Based</a>
            </nav>

        </div>
        <div class="p-3 p-md-5 text-white bg-dark content_block">

            <h3>This Recommendation system is indended to built for <br> the first assignment of <br>18HT - 2DV515 - Web intelligence</h3>
            <p class="lead" style="padding-top: 30px">In order to complete this assignment, I depend on python and use uclidean distance, Pearson Correlation similarity measure.<br>In this application you can select both Item-Based or User-Based recommendations.</p>



        </div>


        <footer class="blog-footer  bg-white align-items-center">
            <p>&copy; Recommendation system by Bishwajit Halder</p>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../static/js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>